.product-summary {
	margin: 1.5em auto;
	padding: 0 1.5em;
	text-align: left;
	max-width: 40rem;
	font-size: 1.4rem;
}
.brand {
	font-weight: 700;
	text-transform: uppercase;
	color: hsl(26, 100%, 55%);
	letter-spacing: 0.3rem;
}
.heading {
	margin: 0.4em 0;
	/* font-size: 2.8rem; */
}
.description {
	margin-bottom: 1.5em;
	line-height: 2rem;
	color: hsl(219, 9%, 45%);
}
.price-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.price {
	display: flex;
	align-items: center;
	font-size: 2.8rem;
	font-weight: 700;
}
.discount {
	margin: 0 1em;
	padding: 0.3em 0.6em;
	font-size: 1.4rem;
	color: hsl(26, 100%, 55%);
	background-color: hsl(25, 100%, 94%);
	border-radius: 5px;
}
.prev-price {
	font-weight: 700;
	text-decoration: line-through;
	color: hsl(220, 14%, 75%);
}
.action {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 1.5em;
}
.amount-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	background-color: hsl(223, 64%, 98%);
	border-radius: 8px;
}
.amount-box button {
	display: flex;
	margin: 0.7em;
}
.amount-box button use {
	transition: fill .3s;
}
.amount-box button:hover use {
	fill: hsla(26, 100%, 55%, 70%);
}
.cart-btn {
	display: flex;
	align-items: center;
	justify-content: center;
    letter-spacing: 0.1rem;
	height: 4.6rem;
	width: 100%;
    box-shadow: 0px 15px 15px 5px hsl(25, 100%, 94%);
    transition: background-color .3s;
}
.cart-btn svg {
    margin: 0 0.7em;
    transform: scale(0.7);
}
.cart-btn:hover {
    background-color: hsla(26, 100%, 55%, 70%);
}
@media (min-width: 768px) {
	.product-card {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5em;
		padding: 0 2em;
	}
	.product-summary {
		margin: 0;
		padding: 0;
	}
	.heading {
		margin-bottom: 0.8em;
		font-size: 3.6rem;
	}
	.price-box {
		flex-direction: column;
		align-items: flex-start
	}
	.prev-price {
		margin-top: 0.5em;
	}
	.action {
		flex-direction: row;
	}
	.amount-box {
		width: 50%;
	}
}