.modal {
	margin: 2em auto;
	display: flex;
	align-items: center;
	justify-content: center;
    border: none;
    background-color: transparent;
}

.modal::backdrop {
	background-color: hsla(0, 0%, 0%, 0.75);
}
