.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 75%);
    opacity: 0;
    z-index: 10;
    transition: opacity .3s;
}
.show-backdrop {
    width: 100vw;
    opacity: 1;
}
.navigation {
	position: fixed;
    display: flex;
	flex-direction: column;
	align-items: start;
	top: 0;
    left: -100vh;
    height: 100vh;
	width: 30rem;
    background-color: #fff;
    z-index: 100;
    transition: left .3s;
}
.show-navigation {
    left: 0;
}
.closenav-btn {
    margin: 1em;
    padding: 0.5em;
}
.closenav-btn path {
    transition: fill .3s;
}
.closenav-btn:hover path {
    fill: hsl(220, 13%, 13%);
}
ul {
	padding-left: 0;
	text-align: left;
	list-style: none;
	font-size: 1.8rem;
}
li {
    margin: 1.2em;
}
.nav-item {
    position: relative;
    text-decoration: none;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
}
.nav-item::after {
    content: '';
    position: absolute;
    bottom: -0.1em;
    left: 0;
    width: 0;
    height: 3px;
    background-color: hsla(26, 100%, 55%, 70%);
    transition: width .3s;
}
.nav-item:hover::after {
    width: 100%;
}
@media (min-width: 768px) {
    .backdrop {
        display: none;
    }
    .navigation {
        margin-left: 2em;
        position: static;
        display: flex;
        flex-direction: row;
        height: auto;
        padding: 0;
        width: auto;
    }
    .closenav-btn {
        display: none;
    }
    ul {
        display: flex;
    }
    li {
        margin: 0.5em;
    }
    .nav-item {
        font-weight: 400;
        font-size: 1.8rem;
        color: hsl(219, 9%, 45%);
        transition: color .3s;
    }
    .nav-item:hover {
        color: hsl(220, 13%, 13%);;
    }
    .nav-item::after {
        bottom: -2.25em;
          }
}