.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.5em;
    font-size: 1.5rem;
}
.navbar {
    display: flex;
    align-items: center;
}
.logo {
    margin-bottom: 0.3em;
    text-decoration: none;
    color: hsl(220, 13%, 13%);
    font-size: 3rem;
    font-weight: 700;
}
button {
    padding: 0.5em;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.cart {
    display: flex;
    align-items: center;
}
.avatar {
    width: 2em;
}
@media (min-width: 768px) {
    .header {
        padding-bottom: 1.5em;
    }
    .header::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: hsl(220, 14%, 75%);
    }
    .mobile-btn {
        display: none;
    }
    .avatar {
        width: 4rem;
    }
}