.gallery {
    position: relative;
    display: flex;
    overflow: hidden;
}
.image {
    width: 100vw;
    height: 30rem;
    object-fit: cover;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: hsla(0, 0%, 100%, 75%);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    transition: background-color, .3s;
}
.arrow:hover {
    background-color: hsl(0, 0%, 100%);
}
.arrow-img {
    height: 1.6rem;
}
.prev-arrow {
    left: 1em;
}
.next-arrow {
    right: 1em;
}
@media (min-width: 768px) {
    .gallery {
        padding: 4em 1.5em;
    }
}