.gallery {
	position: relative;
}
.image {
	width: 100%;
}
.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: hsl(0, 0%, 100%);
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
}
.arrow svg path {
	transition: stroke .3s
}
.arrow:hover path {
	stroke: hsl(26, 100%, 55%);
}
.prev-arrow {
	left: 1em;
}
.prev-arrow svg {
	transform: translateX(-2px) scale(0.8);
}
.next-arrow {
	right: 1em;
}
.next-arrow svg {
	transform: translateX(1px) scale(0.8);
}
.thumbnails {
	display: none;
}
@media (min-width: 576px) {
	.image {
		border-radius: 10px;
	}
}
@media (min-width: 768px) {
	.gallery {
		cursor: zoom-in;
	}
	.gallery.lightbox-gallery {
		cursor: auto;
	}
	.arrow {
		display: none;
	}
	.arrow.lightbox-arrow {
		display: flex;
	}
	.prev-arrow {
		left: -1.5em;
	}
	.next-arrow {
		right: -1.5em;
	}
	.thumbnails {
		display: flex;
		margin-top: 1.4em;
		gap: 1.5em;
		max-width: 40rem;
	}
	.thumbnail-item {
        width: 25%;
        border-radius: 10px;
		background-color: hsl(0, 0%, 100%);
        overflow: hidden;
		border: none;
    }
    .thumbnail-img {
        /* width: 25%; */
        width: 100%;
        height: 100%;
        transition: filter 0.3s;
    }
	.thumbnail-img:hover {
		filter: opacity(50%);
	}
    .thumbnail-img--active {
        filter: opacity(30%);
    }
	.thumbnail-item--active {
		border: 3px solid hsl(26, 100%, 55%);
	}
}
